@model CMS_DTO.CMSProduct.ProductViewModels
@using CMS_Shared;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
    var _count = 0;
}

<main class="main-content">
    <section id="columns" class="columns-container">
        <div class="container">
            <div class="row">
                <div id="center_column" class="center_column col-md-12">
                    <div id="list_collections">
                        @if (Model.ListCate != null && Model.ListCate.Any())
                            {
                                var _totalLength = Model.ListCate.Count;
                                while (_count < _totalLength)
                                {
                                <div class="row">
                                    @for (int i = _count; _count < _totalLength; i++)
                                     {
                                        <div class="block_collection col-xs-12 col-sm-6 col-md-4">
                                            <div class="collection_item">
                                                <div class="collection-top effect_banner">
                                                    <a href="@Url.Action("Detail", "Collection", new { id = Model.ListCate[i].Id })" title="@Model.ListCate[i].CategoryName">
                                                        <img src="@Model.ListCate[i].ImageURL" alt="@Model.ListCate[i].CategoryName" class="img-responsive">
                                                    </a>
                                                </div>
                                                <div class="collection-meta">
                                                    <h3 class="h5">
                                                        <a href="@Url.Action("Detail", "Collection", new { id = Model.ListCate[i].Id })" title="@Model.ListCate[i].CategoryName">@Html.Raw(Model.ListCate[i].CategoryName)</a>
                                                    </h3>
                                                    <div class="collection_products">@Html.Raw(Model.ListCate[i].NumberOfProduct + " Sản phẩm")</div>
                                                    <p class="collection_desc">@string.Format("{0}", (string.IsNullOrEmpty(Model.ListCate[i].Short_Description) || Model.ListCate[i].Short_Description.Length < 100) ? Model.ListCate[i].Short_Description : Model.ListCate[i].Short_Description.Substring(0, 100) + "...")</p>
                                                    <div class="text-center">
                                                        <a href="@Url.Action("Index","Shop")" title="Trở lại shop" class="btn btn-default btn-outline-inverse">
                                                            Trở lại shop
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        _count = _count + 1;
                                        if (_count != 0 && _count % 3 == 0)
                                        {
                                            i = _count;
                                            break;
                                        }
                                    }
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
