@using CMS_Shared;

<div class="footer-container">
    <section id="footercenter" class="footer-center">
        <div class="container">
            <div class="footer-center-wrap">
                <div class="row">
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        <div class="block_aboutshop block">
                            <div class="block_content">
                                <h3 class="title_block">Liên hệ chúng tôi</h3>
                                <div class="about">
                                    Triết lý kinh doanh: chữ tâm hàng đầu<br />
                                    Giải đáp mọi thắc mắc từ ý kiến khách hàng
                                </div>
                                <div class="social_footer">
                                    <div id="social_block" class="social_block block">
                                        <div class="block_content">
                                            <ul class="list-unstyled clearfix">
                                                <li class="facebook">
                                                    <a target="_blank" href="https://www.facebook.com/Kidswatchplaza/" title="KidsWatch on Facebook" class="btn-tooltip" data-original-title="Facebook">
                                                        <i class="fa fa-facebook"></i>
                                                        <span>Facebook</span>
                                                    </a>
                                                </li>
                                                <li class="twitter">
                                                    <a target="_blank" href="javascript:void(0)" title="KidsWatch on Twitter" class="btn-tooltip" data-original-title="Twitter">
                                                        <i class="fa fa-twitter"></i>
                                                        <span>Twitter</span>
                                                    </a>
                                                </li>
                                                <li class="instagram">
                                                    <a target="_blank" href="javascript:void(0)" title="KidsWatch on Instagram" class="btn-tooltip" data-original-title="Instagram">
                                                        <i class="fa fa-instagram"></i>
                                                        <span>Instagram</span>
                                                    </a>
                                                </li>
                                                <li class="rss">
                                                    <a target="_blank" href="javascript:void(0)" title="KidsWatch on RSS" class="btn-tooltip"
                                                       data-original-title="RSS">
                                                        <i class="fa fa-rss"></i>
                                                        <span>RSS</span>
                                                    </a>
                                                </li>
                                                <li class="google-plus">
                                                    <a target="_blank" href="javascript:void(0)" title="KidsWatch on Google Plus" class="btn-tooltip" data-original-title="Google Plus">
                                                        <i class="fa fa-google-plus"></i>
                                                        <span>Google Plus</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="block footer-block footerAccordion" id="block_links_footer_1">
                            <h4 class="title_block">Hỗi trợ</h4>
                            <div class="block_content">
                                <ul style="" class="toggle-footer list-group list-unstyled">
                                    <li class="item">
                                        <a href="javascript:void(0)" title="F.A.Q">F.A.Q</a>
                                    </li>
                                    <li class="item">
                                        <a href="javascript:void(0)" title="Chính sách">Chính sách</a>
                                    </li>
                                    <li class="item">
                                        <a href="@Url.Action("Index","Location")" title="Liên hệ">Liên hệ</a>
                                    </li>
                                    <li class="item">
                                        <a href="@Url.Action("Index","Shop")" title="Mua sắm">Mua sắm</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="block footer-block footerAccordion" id="block_links_footer_2">
                            <h4 class="title_block">Tài khoản</h4>
                            <div class="block_content">
                                <ul style="" class="toggle-footer list-group list-unstyled">                                   
                                    <li class="item">
                                        <a href="@Url.Action("SignUp","Login")" title="Đăng ký">Đăng ký</a>
                                    </li>
                                    <li class="item">
                                        <a href="javascript:void(0)" title="Ưu thích">Ưu thích</a>
                                    </li>
                                    <li class="item">
                                        <a href="@Url.Action("Index","Cart")" title="Giỏ hàng">Giỏ hàng</a>
                                    </li>
                                    <li class="item">
                                        <a href="@Url.Action("Index","Cart")" title="hanh toán">Thanh toán</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div id="newsletter_block" class="block inline">
                            <h4 class="title_block">
                                KIDSWATCHPLAZA.COM
                            </h4>
                            <div class="block_content">
                                <div class="des_newsletter">
                                    Nhập địa chỉ mail để nhận được thông báo từ chúng tôi!
                                </div>
                                <form class="form_newsletter" action=""
                                      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
                                    <input type="email" value="" placeholder="Your email ..." name="EMAIL" id="mail" class="newsletter-input form-control" aria-label="Your email ...">
                                    <button id="subscribe" class="button_mini btn" type="submit">
                                        <span>Subscribe →</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p id="back-top">
            <a href="#top" title="Scroll To Top">Scroll To Top</a>
        </p>
    </section>
    @*<section id="footernav" class="footer-nav">
        <div class="container">
            <div id="powered" class="powered wow animated ">
                <p class="text-center powered_image">
                    <a href="#">
                        <img src="//cdn.shopify.com/s/files/1/1359/9953/t/2/assets/image_powered.png?6710597985434054077" class="" title="" alt="logo">
                    </a>
                </p>
                <p class="text-center">
                    &copy; Copyright @DateTime.Now KidsWatch.
                    <span>
                        <a target="_blank" rel="nofollow" href="javascript:void(0)">Powered by Shopify</a>
                    </span>
                </p>
                <p class="text-center">
                    Made with
                    <span class="fa fa-heart" aria-hidden="true"></span> by KidsWatch
                </p>
            </div>
        </div>
    </section>*@
</div>
