@{
    string controller = (string)ViewContext.RouteData.Values["controller"];
    string action = (string)ViewContext.RouteData.Values["action"];
}
@using CMS_Shared;

<!DOCTYPE html>
<html class="no-js" ng-app="appWebClock">
<head>
    <meta charset="utf-8">
    <meta property="fb:app_id" content="280737696064014" />
    <link rel="alternate" hreflang="x-default" href="ap-wooden.myshopify.com" />
    <link rel="shortcut icon" href="@Url.Content("~/favicon.png")" type="image/png" />
    <title>
        Đồng hồ
    </title>
    <meta property="og:type" content="website">
    <meta property="og:title" content="kidswatchplaza.com ">
    <meta property="og:site_name" content="kidswatchplaza.com ">
    <meta name="twitter:site" content="">
    <!-- Helpers ================================================================== -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <script src="@Url.Content("~/Scripts/angular.min.js")"></script>
    <script src="@Url.Content("~/Libraries/plugins/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/api.jquery-0ea851da22ae87c0290f4eeb24bc8b513ca182f3eb721d147c009ae0f5ce14f9.js")"></script>
    <script src="@Url.Content("~/Scripts/option_selection-ea4f4a242e299f2227b2b8038152223f741e90780c0c766883939e8902542bda.js")"></script>
    <script src="@Url.Content("~/Scripts/global.js")" type="text/javascript"></script>
    @*<script src="//cdn.shopify.com/s/files/1/1359/9953/t/2/assets/load-page-product.js?6710597985434054077" type="text/javascript"></script>*@

    <!-- Theme css ================================================================ -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />
    <link href="@Url.Content("~/Content/css.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css2.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css3.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css4.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css5.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css6.css")" rel="stylesheet" />
    @*<link href="//cdn.shopify.com/s/files/1/1359/9953/t/2/assets/fonts.scss.css?6710597985434054077" rel="stylesheet" type="text/css" media="all" />*@
    <link href="@Url.Content("~/Content/animate.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/jquery.fancybox.css")" rel="stylesheet" />

    <link href="@Url.Content("~/Content/owl.carousel.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/global.scss.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/block-theme.scss.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/menu.scss.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/product.scss.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/site_temp.scss.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/responsive.scss.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Common.css")" rel="stylesheet" />
    <style>
        .shopify-payment-button__button--hidden {
            visibility: hidden;
        }

        .shopify-payment-button__button {
            border-radius: 4px;
            border: none;
            box-shadow: 0 0 0 0 transparent;
            color: white;
            cursor: pointer;
            display: block;
            font-size: 1em;
            font-weight: 500;
            line-height: 1;
            text-align: center;
            width: 100%;
            transition: background 0.2s ease-in-out;
        }

            .shopify-payment-button__button[disabled] {
                opacity: 0.6;
                cursor: default;
            }

        .shopify-payment-button__button--unbranded {
            background-color: #1990c6;
            padding: 1em 2em;
        }

            .shopify-payment-button__button--unbranded:hover:not([disabled]) {
                background-color: #136f99;
            }

        .shopify-payment-button__more-options {
            background: transparent;
            border: 0 none;
            cursor: pointer;
            display: block;
            font-size: 1em;
            margin-top: 1em;
            text-align: center;
            width: 100%;
        }

            .shopify-payment-button__more-options:hover:not([disabled]) {
                text-decoration: underline;
            }

            .shopify-payment-button__more-options[disabled] {
                opacity: 0.6;
                cursor: default;
            }

        .shopify-payment-button__button--branded {
            display: flex;
            flex-direction: column;
            min-height: 44px;
            position: relative;
            z-index: 1;
        }

            .shopify-payment-button__button--branded .shopify-cleanslate {
                flex: 1 !important;
                display: flex !important;
                flex-direction: column !important;
            }

        .clsrightlayout {
            padding-right: 15px !important;
        }

    </style>
    <script src="@Url.Content("~/Scripts/express_buttons-41600a5bb7521174470a9e4f0f1dc2c1ff7d4ddf16f7a2f2452ef1d42740ada7.js")"></script>
    <script src="@Url.Content("~/Scripts/features-35fa919124302b0d097cdba90a4cba671b688a3c3c61403c926ff7818bbb918f.js")"></script>

    <link href="@Url.Content("~/Content/ap_multilang.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/ap_multilang.js")"></script>
</head>

<body id="" class="template-index  header-default layout-default">
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.1&appId=280730746065454&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div id="page">
        <section id="page_content" class="">
            <!-- Header Area Start -->
            <header id="" class="fixed">
                @Html.Partial("_header")
            </header>
            <!-- Header Area End -->
            <!--Content Area Start-->
            @RenderBody()
            <!--Content Area End-->
            <!--Footer-->
            <footer class="footer-area">
                @Html.Partial("_footer")
            </footer>
            <div id="errorJs" class="modal fade" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content"></div>
                </div>
            </div>
            <div id="loading" class="loading_site" style="display: none;"></div>

            <div id="fb-root"></div>
            <div id="quick-view-product" style="display:none;">
                <div class="quickview-overlay"></div>
                <div class="quick-view-product"></div>
                <div id="quickview-modal" style="display:none;">
                    <div class="block-quickview primary_block row">
                        <div class="product-left-column col-xs-12 col-sm-4 col-md-4">
                            <div class="clearfix image-block">
                                <span class="view_full_size">
                                    <a class="img-product" title="" href="#">
                                        <img id="product-featured-image-quickview" class="img-responsive product-featured-image-quickview" src="//cdn.shopify.com/s/files/1/1359/9953/t/2/assets/productDefault.png?6710597985434054077"
                                             alt="Quickview" />
                                    </a>
                                </span>
                                <div class="loading-imgquickview" style="display:none;"></div>
                            </div>
                            <div class="more-view-wrapper clearfix">
                                <div id="thumbs_list_quickview">
                                    <ul class="product-photo-thumbs quickview-more-views-owlslider list-unstyled" id="thumblist_quickview"></ul>
                                </div>
                            </div>
                        </div>
                        <div class="product-center-column product-info col-xs-12 col-sm-4 col-md-5">
                            <h3 class="qwp-name">&nbsp;</h3>
                            <div class="product-description rte"></div>
                            <h5 class="brand"></h5>
                            <div class="availability"></div>
                        </div>
                        <div class="product-right-column product-item col-xs-12 col-sm-4 col-md-3">
                            <div>
                                <form action="/cart/add" method="post" enctype="multipart/form-data" class="variants form-ajaxtocart">
                                    <span class="prices">
                                        <span class="price h2"></span>
                                    </span>
                                    <span class="price-product-detail">
                                        <span class="old-price product-price compare-price"></span>
                                    </span>
                                    <select name='id' style="display:none"></select>
                                    <div class="clearfix"></div>
                                    <div class="quantity_wanted_p">
                                        <label for="quantity-detail" class="quantity-selector">Quantity</label>
                                        <input type="number" id="quantity-detail" name="quantity" value="1" min="1" class="quantity-selector">
                                    </div>
                                    <div class="total-price">
                                        <label>Subtotal: </label>
                                        <span></span>
                                    </div>
                                    <button type="submit" name="add" class="btn add_to_cart_detail ajax_addtocart">
                                        <span>Add to Cart</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <a title="Close" class="quickview-close fancybox-close" href="javascript:;"></a>
                </div>
            </div>

            <!-- Html modal-->
            <div id="AjaxifyModal" class="ajaxcart ajaxcartModal is-visible hidden" style="opacity: 1; margin-left: -450px;" ng-controller="CartCtrl">
                <button type="button" class="ajaxcartClose" title="Close Cart" style="top: 25px;" ng-click="CloseCart();">Đóng giỏ hàng</button>
                <div id="AjaxifyCart" class="">
                    <form action="/cart" method="post" novalidate="" class="cart">
                        <h1 class="cartTitle">Giỏ hàng</h1>
                        <div class="page-content">
                            <div class="cart_header_labels clearfix">
                                <div class="label_item col-xs-12 col-sm-1 col-md-1">
                                    <div class="cart_product first_item">
                                        Sản phẩm
                                    </div>
                                </div>
                                <div class="label_item col-xs-12 col-sm-4 col-md-4">
                                    <div class="cart_description item">
                                        Mô tả
                                    </div>
                                </div>
                                <div class="label_item col-xs-12 col-sm-2 col-md-2">
                                    <div class="cart_price item">
                                        Giá
                                    </div>
                                </div>
                                <div class="label_item col-xs-12 col-sm-2 col-md-2">
                                    <div class="cart_quantity item">
                                        Số lượng
                                    </div>
                                </div>
                                <div class="label_item col-xs-12 col-sm-2 col-md-2">
                                    <div class="cart_total item">
                                        Thành tiền
                                    </div>
                                </div>
                                <div class="label_item col-xs-12 col-sm-1 col-md-1">
                                    <div class="cart_delete last_item">
                                        Xóa
                                    </div>
                                </div>
                            </div>
                            <div class="list_product_cart clearfix" ng-repeat="item in Products">
                                <div class="cpro_item col-xs-12 col-sm-1 col-md-1">
                                    <div class="cpro_item_inner">
                                        <a href="javascript:void(0)" class="cartImage">
                                            <img class="img-responsive" ng-src="{{item.ImageUrl}}" alt="{{item.Name}}">
                                        </a>
                                    </div>
                                </div>
                                <div class="cpro_item col-xs-12 col-sm-4 col-md-4">
                                    <div class="cpro_item_inner">
                                        <a href="javascript:void(0)" class="product_name">
                                            {{item.Name}}
                                        </a>
                                    </div>
                                </div>
                                <div class="cpro_item col-xs-12 col-sm-2 col-md-2">
                                    <div class="cpro_item_inner">
                                        <span class="price product-price"><span class="money" data-currency-usd="{{item.Price | currency}}">{{item.Price |currency :"": 0}} đ</span></span>
                                    </div>
                                </div>
                                <div class="cpro_item text-center col-xs-12 col-sm-2 col-md-2">
                                    <div class="cpro_item_inner">
                                        <div class="ajaxcartQty">
                                            <button type="button" class="ajaxcartQtyAdjust ajaxcartQtyMinus" ng-click="QtyAdjust($index,0)" data-qty="0">−</button>
                                            <input type="text" restrict-to="[0-9]" ng-model="item.Quantity" ng-blur="ngBlurModal($index);" ng-change="UpdateQtyOrder($index);" min="0" pattern="[0-9]*">
                                            <button type="button" class="ajaxcartQtyAdjust ajaxcartQtyPlus" ng-click="QtyAdjust($index,1)" data-qty="11">+</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="cpro_item col-xs-12 col-sm-2 col-md-2">
                                    <div class="cpro_item_inner">
                                        <span class="price product-price"><span class="money" data-currency-usd="{{item.Price * item.Quatity}}">{{item.Price * item.Quantity | currency : "" : 0}} đ</span></span>
                                    </div>
                                </div>
                                <div class="cpro_item col-xs-12 col-sm-1 col-md-1">
                                    <div class="cpro_item_inner">
                                        <a style="cursor:pointer" ng-click="RemoveItemOrder($index)" class="cart__remove ajaxcartRemove" data-id="22632174659">
                                            <small>Xóa</small>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="list_button_cart clearfix">
                                <div class="note_item col-xs-12 col-sm-6 col-md-6">

                                    <div class="note_cart">
                                        <label class="control-label" for="CartSpecialInstructions">Ưu đãi đặc biệt khi mua hàng chúng tôi!</label>
                                        <textarea name="note" class="form-control" id="CartSpecialInstructions"></textarea>
                                    </div>

                                </div>
                                <div class="note_buton col-xs-12 col-sm-6 col-md-6 text-right">
                                    <p>
                                        <span class="cart__subtotal-title">Tổng</span>
                                        <span class="h3 cart__subtotal"><span class="money" data-currency-usd="{{OrderTotal}}">{{OrderTotal | currency : "" : 0}} đ</span></span>
                                    </p>
                                    <p><em>Vận chuyển &amp; thuế sẽ tính khi thanh toán</em></p>
                                    <a class="btn con-ajax-cart btn-outline" href="@Url.Action("Index","Shop")" title="Tiếp tục mua hàng">Tiếp tục mua hàng</a>
                                    <a class="btn btn-outline update-cart" href="@Url.Action("Index","Cart")">Giỏ hàng</a>
                                    <a class="btn btn-outline" href="@Url.Action("CheckOut","Cart")">Thanh toán</a>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- End Html modal-->

            <script type="text/javascript">

        Shopify.doNotTriggerClickOnThumb = false;
        function changeImageQuickView(img, selector) {
          var src = $(img).attr("src");
          src = src.replace("_compact", "");
          $(selector).attr("src", src);
        }
        var selectCallbackQuickView = function (variant, selector) {
          var productItem = jQuery('.quick-view-product .product-item');
          addToCart = productItem.find('.add_to_cart_detail'),
            productPrice = productItem.find('.price'),
            comparePrice = productItem.find('.old-price'),
            totalPrice = productItem.find('.total-price span');
          if (variant) {
            if (variant.available) {
              addToCart.removeClass('disabled').removeAttr('disabled');
              $(addToCart).find("span").text("Add to Cart");
            } else {
              addToCart.addClass('disabled').attr('disabled', 'disabled');
              $(addToCart).find("span").text("Sold Out");
            }
            productPrice.html(Shopify.formatMoney(variant.price, "<span class='money'>${{amount}}</span>"));
            if (variant.compare_at_price > variant.price) {
              comparePrice
                .html(Shopify.formatMoney(variant.compare_at_price, "<span class='money'>${{amount}}</span>")).show();
              productPrice.addClass('on-sale');
            } else {
              comparePrice.hide();
              productPrice.removeClass('on-sale');
            }

            updatePricingQuickView();

            /*begin variant image*/
            if (variant && variant.featured_image) {
              var originalImage = $("#product-featured-image-quickview");
              var newImage = variant.featured_image;
              var element = originalImage[0];
              Shopify.Image.switchImage(newImage, element, function (newImageSizedSrc, newImage, element) {
                $('#thumblist_quickview img').each(function () {
                  var parentThumbImg = $(this).parent();
                  var productImage = $(this).parent().data("image");
                  if (newImageSizedSrc.includes(productImage)) {
                    $(this).parent().trigger('click');
                    return false;
                  }
                });
              });
            }
          } else {
            addToCart.addClass('disabled').attr('disabled', 'disabled');
            $(addToCart).find("span").text("Unavailable");
          }
        };
            </script>
        </section>

        <div id="paneltool">
            <div class="paneltool">
                <div class="panelbutton">
                    <img src="@Url.Content("~/assets/params.svg")" alt="params.svg" />
                </div>
                <div class="panelcontent ">
                    <div class="panelinner">
                        <p><h4>Chữ tâm hàng đầu</h4></p>
                        <div class="group-input clearfix">
                            <label class="control-label">
                                <img src="@Url.Content("~/assets/pin.svg")" alt="pin.svg" /> Mua hàng chúng tôi
                            </label>
                            <div class="">
                                <h5 class="">Thông tin Email</h5>
                                <div class="">
                                    <a href="mailto:Gbcablevn@gmail.com">
                                        <i class="fa fa-envelope"></i>
                                        <span>Kidswatchplaza@gmail.com</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="group-input clearfix">
                            <label class="control-label">
                                <i class="fa fa-desktop"></i><span> Sản phầm uy tín</span>
                            </label>
                        </div>
                        <div class="group-input clearfix">
                            <label class="control-label">
                                <i class="fa fa-header"></i> Liên kết
                            </label>
                            <div class="control-label">
                                <ul class="" style="display: -webkit-inline-box; list-style-type:none">
                                    <li class="facebook clsrightlayout">
                                        <a target="_blank" href="https://www.facebook.com/Kidswatchstore/" title="" class="btn-tooltip" data-original-title="Facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="twitter clsrightlayout">
                                        <a target="_blank" href="javascript:void(0)" title="" class="btn-tooltip" data-original-title="Twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="instagram clsrightlayout">
                                        <a target="_blank" href="javascript:void(0)" title="" class="btn-tooltip" data-original-title="Instagram">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li class="google-plus clsrightlayout">
                                        <a target="_blank" href="javascript:void(0)" title="" class="btn-tooltip" data-original-title="Google Plus">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#apollo-menucanvas').mmenu({
                extensions: ['effect-slide', 'pageshadow'],
                header: true,
                searchfield: true
            });
        });
    </script>

    <script src="@Url.Content("~/Scripts/plugin.js")"></script>
    <script src="@Url.Content("~/Scripts/handlebars.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.currencies.min.js")"></script>

    <script src="@Url.Content("~/Scripts/master.js")"></script>
    <script src="@Url.Content("~/Scripts/js.cookie.min.js")"></script>
    <script src="@Url.Content("~/Scripts/InitCookie.js")"></script>
    <script type="text/javascript">

        function SearchKeyWord() {
            var _key = $("#txtsearch").val();
            if (_key.length > 0) {
                $.ajax({
                    url: "/Clients/Home/SearchKey",
                    type: "post",
                    data: { Key: _key },
                    beforeSend: function () {
                        $("#loading-mask").show();
                    },
                    success: function (content) {
                        $(".list-group").html(content);
                    },
                    complete: function () {
                        $("#loading-mask").hide();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                    }
                });
            }
        }

        function LoadPagging(index, id, _key) {
            $.ajax({
                url: "/Clients/Home/LoadPagging",
                type: "post",
                beforeSend: function () {
                    $("#loading-mask").show();
                },
                data: { pageIndex: index, Key: _key, Id: id },
                success: function (content) {
                    $(".list-group").html(content);
                },
                complete: function () {
                    $("#loading-mask").hide();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                }
            });
        }

        var app = angular.module("appWebClock", []);
        app.directive('restrictTo', function () {
            return {
                restrict: 'A',
                link: function (scope, element, attrs) {
                    var re = RegExp(attrs.restrictTo);
                    var exclude = /Backspace|Enter|Tab|Delete|Del|ArrowUp|Up|ArrowDown|Down|ArrowLeft|Left|ArrowRight|Right/;

                    element[0].addEventListener('keypress', function (event) {
                        if (!exclude.test(event.key) && !re.test(event.key)) {
                            event.preventDefault();
                        }
                    });
                }
            }
        });
        app.controller("CartCtrl", ["$scope", "$rootScope", function ($scope, $rootScope) {
            $rootScope.Products = getListOrder();
            /* add cart */
            $scope.AddToCart = function (ItemId, UnitId, Qty, Price, ImageUrl, Name) {
                var _Order = {
                    ItemId: ItemId,
                    UnitId: UnitId,
                    Quantity: Qty,
                    Price: Price,
                    Name: Name,
                    ImageUrl: ImageUrl
                };
                CreateOrUpdateOrder(_Order);
                $rootScope.Products = getListOrder();
                $scope.setTotals($rootScope.Products);
                $('[id=AjaxifyModal]').removeClass("hidden");
                $(window).scrollTop(0);
            }
            /* close modal */
            $scope.CloseCart = function () {
                $('[id=AjaxifyModal]').addClass("hidden");
            }

            /* update qty of order by order id */
            $scope.UpdateQtyOrder = function ($index) {
                UpdateQuantity($rootScope.Products[$index].ItemId, $rootScope.Products[$index].Quantity);
                var Orders = getListOrder();
                $scope.setTotals(Orders);
            }
            /* count total bill of order */
            $scope.setTotals = function (Orders) {
                var _OrderTotal = 0;
                angular.forEach(Orders, function (item, index) {
                    _OrderTotal += item.Quantity * item.Price;
                });
                $rootScope.OrderTotal = _OrderTotal;
            }

            $scope.QtyAdjust = function ($index, type) {
                if (type == 0) {
                    $rootScope.Products[$index].Quantity -= 1;
                    if (parseInt($rootScope.Products[$index].Quantity) < 1)
                        $rootScope.Products[$index].Quantity = 1;
                }
                else {
                    $rootScope.Products[$index].Quantity += 1;
                }
                UpdateQuantity($rootScope.Products[$index].ItemId, $rootScope.Products[$index].Quantity);
                var Orders = getListOrder();
                $scope.setTotals(Orders);
            }

            $scope.QtyAdjustNoOrder = function (type) {
                if (type == 0) {

                    $scope.Qty = $scope.Qty - 1;
                    if (parseInt($scope.Qty) < 1)
                        $scope.Qty = 1;
                }
                else {
                    $scope.Qty = $scope.Qty + 1;
                }
            }

            $scope.ngChangeQty = function () {
                if (parseInt($scope.Qty) < 1)
                    $scope.Qty = 1;
            }

            $scope.ngBlur = function () {
                if ($scope.Qty.length == 0)
                    $scope.Qty = 1;
            }
            $scope.ngBlurModal = function ($index) {
                if ($rootScope.Products[$index].Quantity.length == 0) {
                    $rootScope.Products[$index].Quantity = 1;
                    UpdateQuantity($rootScope.Products[$index].ItemId, $rootScope.Products[$index].Quantity);
                    var Orders = getListOrder();
                    $scope.setTotals(Orders);
                }

            }

            $scope.RemoveItemOrder = function ($index) {
                RemoveOrderByItemId($rootScope.Products[$index].ItemId);
                var Orders = getListOrder();
                $rootScope.Products = Orders;
                $scope.setTotals(Orders);
            }
        }]);

        $(document).ready(function () {
            getListOrder();
        });

    </script>

    <div class="fb-customerchat" page_id="1679443508797902" minimized="true"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '301258240630616',
                autoLogAppEvents: true,
                xfbml: true,
                version: 'v2.11'
            });
        };
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
</body>
</html>

