@model CMS_DTO.CMSOrder.CMS_CheckOutModels

@{ 
    Layout = null;
}

<html lang="en" dir="ltr" class="no-js windows chrome desktop page--no-banner page--logo-main page--show page--show card-fields">
<head>
    <link rel="stylesheet" media="all" href="@Url.Content("~/Content/v2-ltr-edge-8101d204339d452facb9ddfc67fe9847-11162765398729174149.css")" />
    <script src="@Url.Content("~/Scripts/checkout-6795f878e66cbd16d8abdef46810b664978f7166f94bf17ba396972153fdc967.js")"></script>

    @*<script>window.ShopifyPaypalV4VisibilityTracking = true;</script>*@


    <script src="@Url.Content("~/Scripts/countries-ce7b81792c26ff1f5150a686c6b62d259bc63ce3-1470881547.js")"></script>
    @*<script type="text/javascript">
        Shopify.Checkout.AddressFormat = { "N_p_c_sc_a_a": [["company"], ["last_name", "first_name"], ["zip"], ["country"], ["province", "city"], ["address1"], ["address2"], ["phone"]], "N_p_c_c_a_a": [["company"], ["last_name", "first_name"], ["zip"], ["country"], ["city"], ["address1"], ["address2"], ["phone"]], "n_a_a_c_csp": [["first_name", "last_name"], ["company"], ["address1"], ["address2"], ["city"], ["country", "province", "zip"], ["phone"]], "n_a_a_c_cs": [["first_name", "last_name"], ["company"], ["address1"], ["address2"], ["city"], ["country", "province"], ["phone"]], "n_a_a_c_cp": [["first_name", "last_name"], ["company"], ["address1"], ["address2"], ["city"], ["country", "zip"], ["phone"]], "n_a_a_c_c": [["first_name", "last_name"], ["company"], ["address1"], ["address2"], ["city"], ["country"], ["phone"]] };
    </script>*@
</head>
<body>
    <div class="content" data-content>
        @if (Model.IsError)
        {
            <div class="">
                <div class="alert alert-danger fade in text-center">
                    <i class="fa-fw fa fa-remove"></i>
                    <strong>Lỗi xảy ra! </strong>
                    <span>Đơn hàng của bạn giao dịch không thành công, vui lòng thử lại</span>
                </div>
            </div>
        }

        <div class="wrap">
            <div class="main" role="main">
                <div class="main__header">
                    <a class="logo logo--left" href="@Url.Action("Index","Home")">
                        <span class="logo__text heading-1">
                            KidsWatch
                        </span>
                    </a>
                    <h1 class="visually-hidden">
                        Thông tin khách hàng
                    </h1>
                </div>
                <div class="main__content">
                    <div class="step" data-step="contact_information">
                        <form class="edit_checkout" novalidate="novalidate" data-customer-information-form="true" data-email-or-phone="false" action="@Url.Action("CheckOut", "Cart")" enctype="multipart/form-data" accept-charset="UTF-8" method="post">
                            <input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="_method" value="patch" /><input type="hidden" name="authenticity_token" value="38OCAPvuTLvQEWX3Ut7seKaeHK2kf3joIotFsKR4Dp6mBB6c0RTsSrYxYsSkvcKhc4Nh5lVYZb8Oo97D29oi4w==" />

                            <input type="hidden" name="previous_step" id="previous_step" value="contact_information" />
                            <input type="hidden" name="step" value="shipping_method" />

                            <div class="step__sections">

                                <div class="section section--contact-information">
                                    <div class="section__header">
                                        <div class="layout-flex layout-flex--tight-vertical layout-flex--loose-horizontal layout-flex--wrap">
                                            <h2 class="section__title layout-flex__item layout-flex__item--stretch" id="main-header" tabindex="-1">
                                                Thông tin liên lạc
                                            </h2>

                                            <p class="layout-flex__item">
                                                <span aria-hidden="true">Bạn đã có tài khoản?</span>
                                                <a data-trekkie-id="have_an_account_login_link" href="@Url.Action("SignIn","Login")">
                                                    <span class="visually-hidden">Bạn đã có tài khoản?</span>
                                                    Đăng nhập
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="section__content" data-section="customer-information" data-shopify-pay-validate-on-load="false">
                                        <div class="fieldset">
                                            <div class="field field--required">
                                                <label class="field__label" for="checkout_email">Email</label>
                                                <div class="field__input-wrapper">
                                                    @Html.TextBoxFor(model => model.Customer.Email, new { @autocapitalize = "off", @spellcheck = "false", autocomplete = "shipping email", @class = "field__input", @size = "30", @id = "checkout_email", placeholder = "Email" })
                                                    @Html.ValidationMessageFor(model => model.Customer.Email, null, new { @class="label label-danger"})
                                                </div>
                                            </div>
                                            <div class="field field--required">
                                                <label class="field__label" for="checkout_phone">Điện thoại</label>
                                                <div class="field__input-wrapper">
                                                    @Html.TextBoxFor(model => model.Customer.Phone, new { @autocapitalize = "off", @spellcheck = "false", @autocomplete = "shipping phone",@class="field__input", @size="30", @id = "checkout_phone", placeholder = "Điện thoại" })
                                                    @Html.ValidationMessageFor(model => model.Customer.Phone, null, new { @class = "label label-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="section section--shipping-address" data-shipping-address data-update-order-summary>

                                    <div class="section__header">
                                        <h2 class="section__title">
                                            Địa chỉ giao hàng
                                        </h2>
                                    </div>

                                    <div class="section__content">
                                        <div class="fieldset" data-address-fields>
                                            <div class="field--half field field--optional" data-address-field="first_name">
                                                <label class="field__label" for="checkout_shipping_address_first_name">Họ</label>
                                                <div class="field__input-wrapper">
                                                    @Html.TextBoxFor(model => model.Customer.FirstName, new { placeholder = "Họ", @autocomplete = "shipping given-name", @class="field__input", @size="30", @id = "checkout_shipping_address_first_name" })
                                                    @Html.ValidationMessageFor(model => model.Customer.FirstName, null, new { @class = "label label-danger" })
                                                </div>
                                            </div>
                                            <div class="field--half field field--required" data-address-field="last_name">
                                                <label class="field__label" for="checkout_shipping_address_last_name">Tên</label>
                                                <div class="field__input-wrapper">
                                                    @Html.TextBoxFor(model => model.Customer.LastName, new { placeholder = "Tên", @autocomplete = "shipping family-name", @class="field__input", @size="30", @id = "checkout_shipping_address_last_name" })
                                                    @Html.ValidationMessageFor(model => model.Customer.LastName, null, new { @class = "label label-danger" })
                                                </div>
                                            </div>

                                            <div class="field--two-thirds field field--required" data-address-field="address1" data-google-places="true">
                                                <label class="field__label" for="checkout_shipping_address_address1">Địa chỉ</label>
                                                <div class="field__input-wrapper">
                                                    @Html.TextBoxFor(model => model.Customer.Address, new { placeholder = "Địa chỉ", @autocomplete = "shipping address-line1",@class="field__input", @size="30", @id = "checkout_shipping_address_address1" })
                                                    @Html.ValidationMessageFor(model => model.Customer.Address, null, new { @class = "label label-danger" })
                                                </div>
                                            </div>
                                            <div data-address-field="city" data-google-places="true" class="field field--required">
                                                <label class="field__label" for="checkout_shipping_address_city">Thành phố</label>
                                                <div class="field__input-wrapper">
                                                    @Html.TextBoxFor(model => model.Customer.City, new { placeholder = "Thành phố", @autocomplete = "shipping address-level2", @class = "field__input" , @size = "30", @id = "checkout_shipping_address_city" })
                                                    @Html.ValidationMessageFor(model => model.Customer.City, null, new { @class = "label label-danger" })
                                                </div>
                                            </div>
                                            <div class="field--half field field--required" data-address-field="province" data-google-places="true">
                                                <label class="field__label" for="checkout_shipping_address_province">Quốc gia</label>
                                                <div class="field__input-wrapper field__input-wrapper--select">
                                                    @Html.TextBoxFor(model => model.Customer.Country,new { placeholder = "Quốc gia", @autocomplete = "shipping address-level1", @class = "field__input" , @id = "checkout_shipping_address_province" })
                                                    @Html.ValidationMessageFor(model => model.Customer.Country, null, new { @class = "label label-danger" })
                                                </div>
                                            </div>
                                            <div class="field--half field field--required" data-address-field="zip" data-google-places="true">
                                                <label class="field__label" for="checkout_shipping_address_zip">Mã bưu điện</label>
                                                <div class="field__input-wrapper">
                                                    @Html.TextBoxFor(model => model.Customer.PostCode, new { placeholder = "Mã bưu điện", @autocomplete = "shipping postal-code",@class="field__input field__input--zip", @size="30", @id = "checkout_shipping_address_zip" })
                                                    @Html.ValidationMessageFor(model => model.Customer.PostCode, null, new { @class = "label label-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="step__footer" data-step-footer>
                                <button name="button" type="submit" class="step__footer__continue-btn btn " data-trekkie-id="continue_to_shipping_method_button" aria-busy="false">
                                    <span class="btn__content">
                                       Thanh toán
                                    </span>
                                    <svg class="icon-svg icon-svg--size-18 btn__spinner icon-svg--spinner-button" aria-hidden="true" focusable="false"> <use xlink:href="#spinner-button" /> </svg>
                                </button>
                                <a class="step__footer__previous-link" data-trekkie-id="previous_step_link" href="@Url.Action("Index","Cart")"><svg focusable="false" aria-hidden="true" class="icon-svg icon-svg--color-accent icon-svg--size-10 previous-link__icon" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><path d="M8 1L7 0 3 4 2 5l1 1 4 4 1-1-4-4" /></svg><span class="step__footer__previous-link-content">Quay lại giỏ hàng</span></a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div class="sidebar" role="complementary">
                <div class="sidebar__header">

                    <a class="logo logo--left" href="@Url.Action("Index","Home")">
                        <span class="logo__text heading-1">
                            KidsWatch
                        </span>
                    </a>
                    <h1 class="visually-hidden">
                        Thông tin khách hàng
                    </h1>


                </div>
                <div class="sidebar__content">
                    @if (Model.ListItem != null && Model.ListItem.Any())
                    {
                        <div id="order-summary" class="order-summary order-summary--is-collapsed" data-order-summary>
                            <h2 class="visually-hidden-if-js">Danh sách đơn hàng</h2>
                            <div class="order-summary__sections">

                                <div class="order-summary__section order-summary__section--product-list">
                                    <div class="order-summary__section__content">
                                        <table class="product-table">
                                            <caption class="visually-hidden">Giỏ hàng</caption>
                                            <thead>
                                                <tr>
                                                    <th scope="col"><span class="visually-hidden">Hình ảnh</span></th>
                                                    <th scope="col"><span class="visually-hidden">Mô tả</span></th>
                                                    <th scope="col"><span class="visually-hidden">Số lượng</span></th>
                                                    <th scope="col"><span class="visually-hidden">Giá</span></th>
                                                </tr>
                                            </thead>
                                            <tbody data-order-summary-section="line-items">
                                                @foreach (var item in Model.ListItem)
                                                {
                                                    <tr class="product " data-product-id="7254052739" data-variant-id="22632162179" data-product-type="" data-customer-ready-visible>
                                                        <td class="product__image">
                                                            <div class="product-thumbnail">
                                                                <div class="product-thumbnail__wrapper">
                                                                    <img alt="@item.ProductName" class="product-thumbnail__image" src="@item.ImageUrl" />
                                                                </div>
                                                                <span class="product-thumbnail__quantity" aria-hidden="true">@item.Quantity</span>
                                                            </div>

                                                        </td>
                                                        <td class="product__description">
                                                            <span class="product__description__name order-summary__emphasis">@item.ProductName</span>
                                                            <span class="product__description__variant order-summary__small-text"></span>

                                                        </td>
                                                        <td class="product__quantity visually-hidden">
                                                            @item.Quantity
                                                        </td>
                                                        <td class="product__price">
                                                            <span class="order-summary__emphasis">@item.TotalPrice.ToString("#,00") đ</span>
                                                        </td>
                                                    </tr>
                                                }
                                                
                                            </tbody>
                                        </table>

                                        <div class="order-summary__scroll-indicator" aria-hidden="true" tabindex="-1">
                                            Cuộn chuột để xem
                                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="12" viewBox="0 0 10 12"><path d="M9.817 7.624l-4.375 4.2c-.245.235-.64.235-.884 0l-4.375-4.2c-.244-.234-.244-.614 0-.848.245-.235.64-.235.884 0L4.375 9.95V.6c0-.332.28-.6.625-.6s.625.268.625.6v9.35l3.308-3.174c.122-.117.282-.176.442-.176.16 0 .32.06.442.176.244.234.244.614 0 .848" /></svg>
                                        </div>
                                    </div>
                                </div>



                                <div class="order-summary__section order-summary__section--total-lines" data-order-summary-section="payment-lines">
                                    <table class="total-line-table">
                                        <caption class="visually-hidden">Cost summary</caption>
                                        <thead>
                                            <tr>
                                                <th scope="col"><span class="visually-hidden">Mô tả</span></th>
                                                <th scope="col"><span class="visually-hidden">Giá</span></th>
                                            </tr>
                                        </thead>
                                        <tbody class="total-line-table__tbody">
                                            <tr class="total-line total-line--subtotal">
                                                <th class="total-line__name" scope="row">Tổng</th>
                                                <td class="total-line__price">
                                                    <span class="order-summary__emphasis" data-checkout-subtotal-price-target="12002">
                                                        @Model.SubTotalPrice.ToString("#,00") đ
                                                    </span>
                                                </td>
                                            </tr>


                                            <tr class="total-line total-line--shipping">
                                                <th class="total-line__name" scope="row">Phí vận chuyển</th>
                                                <td class="total-line__price">
                                                    <span class="order-summary__emphasis" data-checkout-total-shipping-target="0">
                                                        <span aria-hidden="true">—</span><span class="visually-hidden">Chưa sẵn sàng</span>
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot class="total-line-table__footer">
                                            <tr class="total-line">
                                                <th class="total-line__name payment-due-label" scope="row">
                                                    <span class="payment-due-label__total">Tổng tiền</span>
                                                </th>
                                                <td class="total-line__price payment-due">
                                                    <span class="payment-due__price" data-checkout-payment-due-target="13202">
                                                        @Model.TotalPrice.ToString("#,00") đ
                                                    </span>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>

                                    <div class="visually-hidden" aria-live="polite" aria-atomic="true" role="status">
                                        Cập nhập giá:
                                        <span data-checkout-payment-due-target="13202">
                                            @Model.TotalPrice.ToString("#,00") đ
                                        </span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>
