@model CMS_DTO.CMSProduct.ProductViewModels
@using CMS_Shared;
@{
    ViewBag.Title = "Chi tiết";
}
<style>
    .owl-item {
        display: inline-table;
    }

    .zoomWrapper {
        display: block !important;
    }
</style>
<main class="main-content" ng-controller="CartCtrl">
    <section id="breadcrumbs">
        <div class="container">
            <nav aria-label="breadcrumbs" class="breadcrumbs">

                <ol class="breadcrumb">
                    <li itemprop="itemListElement" itemscope="">
                        <a href="@Url.Action("Index","Home")" title="Back to the frontpage" itemprop="item">
                            <span itemprop="name">Tramg chủ</span>
                        </a>
                        <meta itemprop="position" content="1">
                    </li>
                    <li class="active" itemprop="itemListElement" itemscope="">
                        <span itemprop="item"><span itemprop="name">@Model.ProductModel.ProductName</span></span>
                        <meta itemprop="position" content="2">
                    </li>
                </ol>
            </nav>
        </div>
    </section>

    <section id="columns" class="columns-container product">
        <div class="container">
            <div class="row">
                <aside>
                    <div id="left_column" class="left_column sidebar col-sm-4 col-md-3">
                        @if (Model.ListCate != null && Model.ListCate.Any())
                        {
                            <div id="categories_block" class="block sidebarCategories ">
                                <h4 class="title_block">Bộ sưu tập</h4>
                                <div class="block_content" style="">
                                    <ul class="listSidebar list-unstyled">
                                        @foreach (var item in Model.ListCate)
                                        {
                                            <li>
                                                <a href="@Url.Action("Detail","Collection",new { q=item.Alias})" title="@item.CategoryName">
                                                    @item.CategoryName
                                                    <span id="apolloQty257630531" class="apolloQty pull-right">@item.NumberOfProduct</span>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        }

                        @if (Model.ListBrand != null && Model.ListBrand.Any())
                        {
                            <div id="shopbyvendor" class="block block_shopby ">
                                <div class="title_block">
                                    Thương hiệu
                                </div>

                                <div class="block_content" style="">
                                    <ul id="ul_catalog_vendor" class="listSidebar list-unstyled">
                                        @foreach (var item in Model.ListBrand)
                                        {
                                            <li data-group="BRANDS">
                                                <a style="cursor:pointer" title="@item.BrandName">@item.BrandName</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        }

                        @if (Model.ListProduct != null && Model.ListProduct.Any())
                        {
                            <div id="products_sider_block" class="block products_block nopadding ">
                                <h4 class="title_block">
                                    <a style="cursor:pointer" title="Sản phẩm mới nhất">Sản phẩm mới nhất</a>
                                </h4>

                                <div class="block_content products-block" style="">
                                    <ul class="products products-block list-unstyled">
                                        @foreach (var item in Model.ListProductTopSales)
                                        {
                                            <li class="media clearfix">
                                                <div class="product-block">
                                                    <div class="product-container media">
                                                        <a class="products-block-image img pull-left" href="@Url.Action("Detail","Shop",new { q= item.Alias})" title="@item.ProductName">
                                                            <img class="replace-2x img-responsive" src="@item.ImageURL" alt="@item.ProductName">
                                                        </a>
                                                        <div class="media-body">
                                                            <div class="product-content">
                                                                <h5 class="name media-heading">
                                                                    <a class="product-name" href="@Url.Action("Detail","Shop",new { q= item.Alias})" title="@item.ProductName">@item.ProductName</a>
                                                                </h5>

                                                                <div class="content_price price">
                                                                    <span class="price product-price">
                                                                        <span class="money">
                                                                            @if (item.ProductExtraPrice > 0 && item.ProductExtraPrice < item.ProductPrice)
                                                                            {
                                                                                <span class="old-price product-price"><span class="money">@item.ProductPrice.ToString("#,00") VNĐ</span></span>
                                                                                <span class="price product-price sale-price">
                                                                                    <span class="money">@item.ProductExtraPrice.ToString("#,00") VNĐ</span>
                                                                                </span>
                                                                            }
                                                                            else
                                                                            {
                                                                                <span class="price product-price ">
                                                                                    <span class="money">@item.ProductPrice.ToString("#,00") VNĐ</span>
                                                                                </span>
                                                                            }
                                                                        </span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                    </div>
                </aside>
                <div id="center_column" class="center_column col-xs-12 col-sm-8 col-md-9">
                    @if (Model.ProductModel != null)
                    {
                        <div itemscope="">
                            <div class="primary_block">
                                <div class="row">
                                    <div class="product-left-column col-xs-12 col-sm-12 col-md-5">
                                        <div id="image-block" class="clearfix">
                                            <span id="view_full_size">
                                                <div style="height:345px;width:345px;" class="zoomWrapper">
                                                    <div style="height:345px;width:345px;" class="zoomWrapper">
                                                        <img id="proimage" class="img-responsive" itemprop="image" src="@Model.ProductModel.ImageURL" alt="@Model.ProductModel.ProductName" data-zoom-image="@Model.ProductModel.ImageURL" width="480" height="480" style="position: absolute;">
                                                    </div>
                                                </div>
                                            </span>
                                        </div>
                                        @if (Model.ProductModel.ListImages != null && Model.ProductModel.ListImages.Any())
                                        {
                                            var _index = 1;
                                            <div id="views_block" class="clearfix ">
                                                <div id="thumbs_list">
                                                    <div class="owl-thumblist">
                                                        <div class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                                                            <div class="owl-wrapper-outer">
                                                                <div class="owl-wrapper" style="width: 444px; left: 0px; display: block; transition: all 0ms ease 0s; transform: translate3d(0px, 0px, 0px);">
                                                                    @foreach (var item in Model.ProductModel.ListImages)
                                                                    {
                                                                        <div class="owl-item" style="width: 74px;">
                                                                            <div id="thumbnail_@_index" class="thumb_item ">
                                                                                <a href="javascript:void(0)" data-image="@item.ImageURL" data-zoom-image="@item.ImageURL">
                                                                                    <img class="img-responsive" id="thumb_1" src="@item.ImageURL" alt="Cup Of Coffee" itemprop="image" width="128" height="128">
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    }
                                                                </div>
                                                            </div>
                                                            <div class="owl-controls" style="display: none;"><div class="owl-pagination"><div class="owl-page"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev">prev</div><div class="owl-next">next</div></div></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <div class="product-center-column col-xs-12 col-sm-12 col-md-7">

                                        <h3 itemprop="name">@Model.ProductModel.ProductName</h3>

                                        <div class="socialsharing_product no-print">
                                            <ul class="social-sharing list-unstyled">
                                                <li>
                                                    <a class="btn social-sharing btn-twitter" href="javascript:void(0);" data-type="twitter">
                                                        <i class="fa fa-twitter"></i> Tweet
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="btn social-sharing btn-facebook" href="javascript:void(0);" data-type="facebook">
                                                        <i class="fa fa-facebook"></i> Facebook
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="btn social-sharing btn-google-plus" href="javascript:void(0);" data-type="google-plus">
                                                        <i class="fa fa-google-plus"></i> Google+
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="btn social-sharing btn-linkedin" href="javascript:void(0);" data-type="linkedin">
                                                        <i class="fa fa-linkedin"></i> Linkedin
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="btn social-sharing btn-pinterest" href="javascript:void(0);" data-type="pinterest">
                                                        <i class="fa fa-pinterest-p"></i> Pinterest
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <script type="text/javascript">
                                            $(document).ready(function () {
                                                $('.btn.social-sharing').on('click', function () {
                                                    type = $(this).attr('data-type');
                                                    if (type.length) {
                                                        switch (type) {
                                                            case 'twitter':
                                                                window.open('https://twitter.com/intent/tweet?text=Clock%20handmade http%3A%2F%2Fap-wooden.myshopify.com/products/longsleeve-spacedye-nep', 'sharertwt', 'toolbar=0,status=0,width=640,height=445');
                                                                break;
                                                            case 'facebook':
                                                                window.open('http://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fap-wooden.myshopify.com/products/longsleeve-spacedye-nep', 'sharer', 'toolbar=0,status=0,width=660,height=445');
                                                                break;
                                                            case 'google-plus':
                                                                window.open('https://plus.google.com/share?url=//ap-wooden.myshopify.com/products/longsleeve-spacedye-nep', 'sharer', 'toolbar=0,status=0,width=660,height=445');
                                                                break;
                                                            case 'linkedin':
                                                                window.open('http://www.linkedin.com/shareArticle?mini=true&amp;url=//ap-wooden.myshopify.com/products/longsleeve-spacedye-nep&amp;title=Clock%20handmade&amp;source=http&#58;&#47;&#47;ap-wooden.myshopify.com/products/longsleeve-spacedye-nep', 'sharerpinterest', 'toolbar=0,status=0,width=660,height=445');
                                                                break;
                                                            case 'pinterest':
                                                                window.open('http://pinterest.com/pin/create/button/?url=//ap-wooden.myshopify.com/products/longsleeve-spacedye-nep&amp;media=//cdn.shopify.com/s/files/1/1359/9953/products/1-min_0f4a65ea-d62e-4ed3-a0cb-87847ba0e690_large.jpg?v=1467274007', 'sharerpinterest', 'toolbar=0,status=0,width=660,height=445');
                                                                break;
                                                        }
                                                    }
                                                });
                                            });
                                        </script>
                                        <div class="line-product-name"></div>
                                        <div class="price price-detail clearfix">
                                            <span class="price-product-detail">
                                                <span class="price product-price">
                                                    <span class="money">
                                                        @if (Model.ProductModel.ProductExtraPrice > 0 && Model.ProductModel.ProductExtraPrice < Model.ProductModel.ProductPrice)
                                                        {
                                                            <span class="old-price product-price"><span class="money">@Model.ProductModel.ProductPrice.ToString("#,00") VNĐ</span></span>
                                                            <span class="price product-price sale-price">
                                                                <span class="money">@Model.ProductModel.ProductExtraPrice.ToString("#,00") VNĐ</span>
                                                            </span>
                                                        }
                                                        else
                                                        {
                                                            <span class="price product-price ">
                                                                <span class="money">@Model.ProductModel.ProductPrice.ToString("#,00") VNĐ</span>
                                                            </span>
                                                        }
                                                    </span>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="product-right-column col-xs-12 col-sm-12 col-md-7">
                                        <div itemprop="offers" itemscope="">
                                            @*<meta itemprop="priceCurrency" content="USD">
                                                <link itemprop="availability" href="http://schema.org/InStock">*@

                                            <div class="condition-product">
                                                <h5 class="brand" itemprop="brand"><span>THƯƠNG HIỆU: </span><a style="cursor:pointer" title="">@Model.ProductModel.BrandName</a></h5>

                                                <div class="availability ">
                                                    <p class="available instock">
                                                        @if (Model.ProductModel.TypeState == (byte)Commons.EStateType.Avalable)
                                                        {
                                                            <span>Còn hàng</span>
                                                        }
                                                        else
                                                        {
                                                            <span>Hết hàng</span>
                                                        }
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="product-description rte" itemprop="description">
                                                @string.Format("{0}", string.IsNullOrEmpty(Model.ProductModel.Short_Description) ? Model.ProductModel.Short_Description : "")
                                            </div>

                                            @*<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-ajaxtocart">*@
                                            <div class="line-product-top"></div>
                                            <div class="quantity_wanted_p">
                                                <label for="Quantity" class="quantity-selector">Số lượng</label>
                                                <div class="apQty">
                                                    <button type="button" class="apQtyAdjust apQtyAdjustMinus" data-id="" data-qty="0" ng-click="QtyAdjustNoOrder(0)">−</button>
                                                    <input type="text" class="apQtyNum" ng-model="Qty" ng-init="Qty=1" ng-blur="ngBlur();" ng-change="ngChangeQty();" min="1" data-id="" aria-label="quantity" restrict-to="[0-9]" name="quantity" id="Quantity">
                                                    <button type="button" class="apQtyAdjust apQtyAdjustPlus" data-id="" data-qty="11" ng-click="QtyAdjustNoOrder(1)">+</button>
                                                </div>
                                            </div>

                                            <div class="line-product"></div>
                                            <div class="total-price">
                                                <label>Tổng: </label>
                                                <span>$28.86</span>
                                            </div>
                                            @if (Model.ProductModel.ProductExtraPrice > 0 && Model.ProductModel.ProductExtraPrice < Model.ProductModel.ProductPrice)
                                            {
                                                <button type="button" ng-click="AddToCart('@Model.ProductModel.Id','',Qty,@Model.ProductModel.ProductExtraPrice,'@Model.ProductModel.ImageURL','@Model.ProductModel.ProductName')" name="add" id="AddToCart" class="btn add_to_cart_detail ajax_addtocart">
                                                    <i class="fa fa-shopping-cart"></i>
                                                    <span id="AddToCartText">Thêm vào giỏ hàng</span>
                                                </button>
                                            }
                                            else
                                            {
                                                <button type="button" ng-click="AddToCart('@Model.ProductModel.Id','',Qty,@Model.ProductModel.ProductPrice,'@Model.ProductModel.ImageURL','@Model.ProductModel.ProductName')" name="add" id="AddToCart" class="btn add_to_cart_detail ajax_addtocart">
                                                    <i class="fa fa-shopping-cart"></i>
                                                    <span id="AddToCartText">Thêm vào giỏ hàng</span>
                                                </button>
                                            }
                                            @*</form>*@
                                        </div>
                                        @*<div class="wishlist">
                                            <a class="btn btn-outline-inverse btn-wishlist" href="#" title="Add to Wishlist">
                                                <i class="fa fa-heart"></i>
                                                <span>Danh mục ưu thích</span>
                                            </a>
                                        </div>*@
                                    </div>
                                </div>
                            </div>
                            <div class="more_info_block">
                                <ul class="nav nav-tabs tab-info page-product-heading">
                                    <li class="active">
                                        <a href="#idTab1" data-toggle="tab">Mổ tả</a>
                                    </li>
                                    <li>
                                        <a href="#idTab2" data-toggle="tab">Thông tin</a>
                                    </li>
                                    <li>
                                        <a href="#idTab4" data-toggle="tab">Bình luận</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <section id="idTab1" class="tab-pane page-product-box active">
                                        <div class="rte">
                                            @Html.Raw(Model.ProductModel.Description)
                                        </div>
                                    </section>
                                    <section id="idTab2" class="tab-pane page-product-box">
                                        @Html.Raw(Model.ProductModel.Information)
                                    </section>
                                    <section id="idTab4" class="tab-pane page-product-box">
                                        <div class="fb-comments" data-width="100%" data-href="http://kidswatch.com.vn/" data-numposts="5" data-colorscheme="light"></div>
                                    </section>
                                </div>

                            </div>
                        </div>
                    }

                    @if (Model.ListSameProduct != null && Model.ListSameProduct.Any())
                    {
                        <div class="row">
                            <div class="productpage col-xs-12 col-sm-12 col-md-12">
                                <div class="product_related ">
                                    <div id="productrelated" class="products_block exclusive block">
                                        <h4 class="title_block text-center">
                                            Sản phẩm tương tự<span>Chọn sản phẩm chúng tôi. </span>
                                        </h4>

                                        <div class="block_content">
                                            <div class="row">
                                                <div id="owl-demo">
                                                    @foreach (var item in Model.ListSameProduct)
                                                    {
                                                        <div class="item" style="width: 280px;">
                                                            <div class="product_block wow fadeIn  " data-wow-delay="0ms">
                                                                <div class="product-container text-left product-block">
                                                                    <div class="product-image-container image">
                                                                        <a class="product_img_link" href="@Url.Action("Detail","Shop",new { q= item.Alias})">
                                                                            <img class="img-responsive" src="@item.ImageURL" alt="@item.ProductName">
                                                                        </a>
                                                                        <span class="new-box">
                                                                            <span class="label-new label">Mới</span>
                                                                        </span>
                                                                    </div>
                                                                    <div class="product-meta">
                                                                        <h5 class="name">
                                                                            <a class="product-name" href="@Url.Action("Detail","Shop",new { q= item.Alias})" title="@item.ProductName">@item.ProductName</a>
                                                                        </h5>
                                                                        <div class="content_price">
                                                                            <span class="price product-price ">
                                                                                <span class="money">
                                                                                    @if (item.ProductExtraPrice > 0 && item.ProductExtraPrice < item.ProductPrice)
                                                                                    {
                                                                                        <span class="old-price product-price"><span class="money">@item.ProductPrice.ToString("#,00") VNĐ</span></span>
                                                                                        <span class="price product-price sale-price">
                                                                                            <span class="money">@item.ProductExtraPrice.ToString("#,00") VNĐ</span>
                                                                                        </span>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <span class="price product-price ">
                                                                                            <span class="money">@item.ProductPrice.ToString("#,00") VNĐ</span>
                                                                                        </span>
                                                                                    }
                                                                                </span>
                                                                            </span>
                                                                        </div>

                                                                        <div class="functional-buttons clearfix">
                                                                            <div class="quickview">
                                                                                <a class="quick-view btn" href="#quick-view-product" data-handle="longsleeve-spacedye-nep" title="Quick View">
                                                                                    <i class="fa fa-plus"></i>
                                                                                    <span>Xem nhanh</span>
                                                                                </a>
                                                                            </div>
                                                                            <div class="cart">
                                                                                <div class="action">
                                                                                    @if (item.ProductExtraPrice > 0 && item.ProductExtraPrice < item.ProductPrice)
                                                                                    {
                                                                                        <a class="button ajax_addtocart btn" href="" ng-click="AddToCart('@item.Id', '', 1, @item.ProductExtraPrice, '@item.ImageURL', '@item.ProductName');" title="Thêm giỏ hàng">
                                                                                            <span class="fa fa-shopping-cart"></span>
                                                                                            <span class="select_options">Thêm giỏ hàng</span>
                                                                                        </a>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <a class="button ajax_addtocart btn" href="" ng-click="AddToCart('@item.Id', '', 1, @item.ProductPrice, '@item.ImageURL', '@item.ProductName');" title="Thêm giỏ hàng">
                                                                                            <span class="fa fa-shopping-cart"></span>
                                                                                            <span class="select_options">Thêm giỏ hàng</span>
                                                                                        </a>
                                                                                    }

                                                                                </div>
                                                                            </div>
                                                                            <div class="wishlist">
                                                                                <a class="btn btn-outline-inverse btn-wishlist" style="cursor:pointer" title="Thêm mục ưu thích">
                                                                                    <i class="fa fa-heart"></i>
                                                                                    <span>Thêm mục ưu thích</span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </section>
</main>
<script type="text/javascript">
    $(document).ready(function () {
        $("#owl-demo").owlCarousel({
            //autoPlay: 3000, //Set AutoPlay to 3 seconds
            items: 3,
            lazyLoad: true,
            navigation: true,
            addClassActive: true,
            afterInit: OwlLoaded,
            afterAction: SetOwlCarouselFirstLast,

            itemsDesktop: [1199, 2],
            itemsDesktopSmall: [979, 2],
            itemsTablet: [768, 2],
            itemsTabletSmall: [480, 1],
            itemsMobile: [360, 1],

        });
        function SetOwlCarouselFirstLast(el) {
            el.find(".owl-item").removeClass("first");
            el.find(".owl-item.active").first().addClass("first");

            el.find(".owl-item").removeClass("last");
            el.find(".owl-item.active").last().addClass("last");
        };

    });
</script>