@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model CMS_DTO.CMSNews.CMS_NewsViewModel

<main class="main-content">
    <section id="breadcrumbs">
        <div class="container">
            <nav aria-label="breadcrumbs" class="breadcrumbs">
                <ol class="breadcrumb" itemscope="">
                    <li itemprop="itemListElement">
                        <a href="/" title="Trở lại trang chủ">
                            <span>Trang chủ</span>
                        </a>
                        <meta itemprop="position" content="1">
                    </li>
                    <li class="active" itemscope="">
                        <span><span>Tin tức</span></span>
                        <meta itemprop="position" content="2">
                    </li>
                </ol>
            </nav>
        </div>
    </section>
    <section id="columns" class="columns-container">
        <div class="container">
            <div class="page-wrap">
                <div class="row">
                    <div id="center_column" class="center_column col-md-8">
                        <div id="content">
                            <div id="blog-listing" class="blogs-container">
                                <h1 class="blogTitle">Tin tức</h1>
                                <div class="inner">
                                    @if (Model.CMS_News != null)
                                    {
                                        <div class="blog-item">
                                            <h3><a href="@Url.Action("Detail", "News", new { id = Model.CMS_News.Id })">@Html.Raw(Model.CMS_News.Title)</a></h3>
                                            <div class="blog-meta clearfix">
                                                <div class="postby">
                                                    Đăng bởi <strong>@Html.Raw(Model.CMS_News.Publisher)</strong> on <time>@Model.CMS_News.CreatedDate</time>
                                                </div>
                                                <div class="blog-tags">
                                                </div>
                                            </div>
                                            <div class="rte">
                                                <div class="image">
                                                    <img class="img-responsive" src="@Model.CMS_News.ImageURL" alt="@Model.CMS_News.Title">
                                                </div>
                                                <p>@string.Format("{0}", (string.IsNullOrEmpty(Model.CMS_News.Short_Description) || Model.CMS_News.Short_Description.Length < 200) ? Model.CMS_News.Short_Description : Model.CMS_News.Short_Description.Substring(0, 200) + "...")</p>
                                            </div>
                                            <p><a class="btn btn-readmore" href="@Url.Action("Detail", "News", new { id = Model.CMS_News.Id })">Thông tin chi tiết</a></p>
                                            <div>
                                                @Html.Raw(@Model.CMS_News.Description)
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="right_column" class="column sidebar col-md-4">
                        <div class="sidebarBlog block">
                            <h4 class="title_block">Bài viết cũ</h4>
                            <div class="block_content" style="">
                                <ul class="listSidebar list-unstyled">
                                    @if (Model.ListNewsOld != null && Model.ListNewsOld.Any())
                                    {
                                        foreach (var item in Model.ListNewsOld)
                                        {
                                            <li>
                                                <a href="@Url.Action("Detail", "News", new { id = item.Id })">Nam enim odio sodales condimentum molestie</a>
                                                <time>@item.CreatedDate</time>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>

                        <div id="blogsidebar-html" class="sidebarBlog block">
                            <h4 class="title_block">Trải nhiệm cùng chúng tôi</h4>
                            <div class="block_content" style="">
                                <div class="html_des">
                                    Để cùng tận hưởng cuộc sống thoải mái cũng như quản lý được sinh hoạt hàng ngày của bạn. Hãy cùng đến và đồng hành cùng những mặt hàng đang Hot hiện nay!!!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<div style="background-color: #fff !important; ">
    <div class="container">
        <div>
            <div class="fb-comments" data-width="100%" data-href="http://kidswatch.com.vn/" data-numposts="5" data-colorscheme="light"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
</script>


